{
        "baseURL":"https://prepintra-api.etna-alternance.net/",
        "trombiIds":[1,2,3,4], # ids for trombi
        "refUSER":"blabl_t", # ref user
        "refPROM":1, # refuser prom ID
        "cookie":"authenticator cookie",
        "slackHook": "slack hook URL",
        "slackChan": "slack channel",
        "lastMessage": "let that one empty",
        "env":"debug" # could be empty for no debug, or debug
}
